body {
  background-color: beige;
  font-family: 'Monda', serif;
  text-align: center;
}
.wrap {
  margin: 0 auto;
  max-width: 1024px;
}
nav {
  position: fixed;
  z-index: 10;
  background-color: darkorange;
  padding: 5px;
  width:100%;
  a {
    color: white;
    font-family: 'Gochi Hand',  cursive;
    font-size: 1.2em;
    text-decoration: none;
  }
}

  h1 {
  margin: 0;
  display: none;
}
h3, h4, h5, ol, p, dl {
  margin: 0;
  font-size: 14px;

}
.error {
  color: maroon;
}
.beer_form {
  background-color: beige;
  display: flex;
  flex-flow:  column nowrap;
  padding: 0 5px;
  position:relative;
  z-index: 100;
  section {
    background-color: white;
    flex: 1 0 auto;
    border: 2px solid orange;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    margin: 5px 0;
    height: 50px;

    span {
      transition: font-size 2s;
    }
    &.option_a {
      background-color: #f7f379;
      span.opt_a {
        font-size: 1.5em;
      }
      span.opt_b {
        font-size: 0.7em;
      }
    }
    &.option_b {
      background-color: #9ddce6;
      span.opt_b {
        font-size: 1.5em;
      }
      span.opt_a {
        font-size: 0.7em;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    label {
      font-family: 'Gochi Hand',  cursive;
      display: block;
    }
    &.food {
      button {
        border: 1px solid #999;
        background-color: white;
        margin-left: 10px;
        border-radius: 4px;
        padding: 5px;
      }
      input {
        border: 1px solid #999;
        font-size: 13px;
        padding: 4px;
        width: 140px;
      }
    }
  }
}

.beer_list {
  position: relative;
  z-index: 1;
  padding: 0 5px;
  width: 100%;
  h2 {
    margin: 10px 0 5px;
  }
  section {
    display: flex;
    text-align: left;
    article {
      flex: 3 0 100%;
      padding-left: 15px;
      font-size: .8em !important;
      .recipe {
        margin-bottom: 15px;
        .table_wrap {
          overflow-x: scroll;
        }

        h5 {
           font-size: 1.2em;
           font-weight: bold;
           margin-top: 20px;
         }
        dd, dt {
          display: inline-block;
        }
        dd {
          width: 80%;
          margin: 0 0 10px 0;
        }
        dt {
          font-weight: bold;
          border-bottom: 1px dashed #CCC;
          text-transform: uppercase;
          width: 20%;
        }
        table {
          border-bottom: 1px solid #999;
          white-space: nowrap;
        }
        th {
          background-color: #ccc;
        }
        th, td {
          padding: 0 5px;
          border-right: 2px solid white
        }
        > div {
          transition: height 500ms 200ms, opacity 200ms 200ms;
          opacity: 0.0;
          height: 0px;
          overflow-y: scroll;

        }
        .open {
          height: 400px;
          opacity: 1.0;

        }
        .close {
          height: 0px;
          opacity:0.0;
        }

      } /*End recipe*/

      h3 {
        background-color: #666;
        padding: 0 5px;
        color: wheat;
      }
      h4 {
        color: maroon;
      }
      button {
        font-size: 1.1em;
        text-decoration: none;
        margin: 10px 5px 15px 0;
        border: 2px solid orange;
        padding: 5px;
        text-align: center;
        background: wheat;
        border-radius: 4px;
      }
    }
    .img{
      flex: 1 0 10%;
      background-size: contain;
      background-repeat: no-repeat;
      margin: 5px 0 0;
      height: 200px;
    }
  }
}
@media (max-width: 480px) {
  .beer_list section article .recipe {
    margin-left: -80px;
  }
  .table_wrap {
    width: 300px;
  }
}

@media (min-width: 480px) and (max-width: 798px) {
  .beer_form {
    flex-flow: row wrap;
    font-size: .9em;
    section {
      flex: 1 0 45%;
      padding: 5px;
      margin: 8px 1% 0 1%;
    }
  }
}

@media (min-width: 799px) {
  nav {
    width: 270px;
    margin-left: 2px;
  }
  .wrap {
    display: flex;
  }
  .beer_form {
    height: 321px;
    display: block;
    padding-top: 20px;
    section {
      height: 60px;
      width: 250px;
    }
  }
  .beer_list {
    margin: 0 5%;
  }
}

